.languages-section{
    margin-top:0.1in;
    margin-bottom:0.1in;
    width:100%;
    border: 1px solid transparent;
    border-radius: 1px;
    box-shadow: 2px 1px 5px #888888;
    padding:1em;
    font-family: 'News Cycle', sans-serif;
    color: #CCCCCC;
    /*background-color: #0f1626;*/
    background-color:#33333A;
}

h1{
    padding:0;
    margin:0;
    font-size:24px;
}
hr{
    padding:0px;
    margin:5px;
}
.languages-icon{
    font-size:24px;
    padding:0px;
    margin:0px;
    color: #77BBDD;
}
.language-letters{
    padding-left:7px;
    padding-right:0px;
}