.page {
    width: 8.5in;
    min-height: 11in;
    padding: 1cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#print-btn{
     position:fixed;
     bottom: 2em;
     right:2em;
}

@page {
    size: letter;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}